<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="search" @keyUp.enter="ask">
    <div class="film" v-for="movie in movies" >
      <ul>
        <img v-if="movie.poster_path" :src="getPoster(movie.poster_path)" alt="">
        <li>{{movie.title}}</li>
        <li>{{movie.original_title}}</li>
        <div class="cont-vote">
          <i v-for="i in vote(movie.vote_average)" class="fas fa-star"></i>
          <i v-for="i in (5-vote(movie.vote_average))"class="far fa-star"></i>
        </div>
        <img v-if="flags.includes(movie.original_language)" class="flag" :src="getFlag(movie.original_language)" alt="">
        <li v-else>{{movie.original_language}}</li>
      </ul>
    </div>
    <div class="series" v-for="show in series">
      <ul>
        <img v-if="show.poster_path" :src="getPoster(show.poster_path)" alt="">
        <li>{{show.name}}</li>
        <li>{{show.original_name}}</li>
        <div class="cont-vote">
          <i v-for="i in vote(show.vote_average)" class="fas fa-star"></i>
          <i v-for="i in (5-vote(show.vote_average))"class="far fa-star"></i>
        </div>
        <img v-if="flags.includes(show.original_language)" class="flag" :src="getFlag(show.original_language)" alt="">
        <li v-else>{{show.original_language}}</li>
      </ul>
    </div>
  </div>
  <script src="js/main.js"></script>
</body>
</html>